<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChineseLawsSearch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAA1D8082FA1DF390003A448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAA1D8192FA1DF3B0003A448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAA1D8232FA1DF3B0003A448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
