<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorAnswerSoftLimitChars</key>
	<integer>3000</integer>
	<key>gazetteRulingGistMaxChars</key>
	<integer>-1</integer>
	<key>statuteArticlesPerLawMax</key>
	<integer>5</integer>
	<key>statuteArticlesTotalMax</key>
	<integer>10</integer>
	<key>routingMaxExperts</key>
	<integer>8</integer>
	<key>decompositionMaxSubQuestions</key>
	<integer>10</integer>
	<key>expertGazetteCandidatesTypical</key>
	<integer>3</integer>
	<key>expertGazetteCandidatesMax</key>
	<integer>8</integer>
</dict>
</plist>
