<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleDisplayName</key>
	<string>律疏</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>BKP1</key>
	<string>$(BUILTIN_API_KEY_P1)</string>
	<key>BKP2</key>
	<string>$(BUILTIN_API_KEY_P2)</string>
	<key>BKP3</key>
	<string>$(BUILTIN_API_KEY_P3)</string>
	<key>BKP4</key>
	<string>$(BUILTIN_API_KEY_P4)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
